<app-form [currentUser]="currentUser" (newUser)="onNewUser($event)"></app-form>

<h3>Users</h3>
<ul *ngFor="let user of users">
  <li>
    <i class="fa fa-address-book" aria-hidden="true"></i>

    <h1> {{ user.name }}</h1>
    <p> {{ user.username }}</p>
    <p> {{ user.email }}</p>

    <p>{{ user.address.street }},
    {{ user.address.suite }},
    {{ user.address.city }},
    {{ user.address.zipcode }}</p>

    <p>{{ user.phone }}</p>
    <h3>{{ user.company.name }}</h3>
    <p>"{{ user.company.catchPhrase }}"</p>

  </li>

</ul>
