<h2>Register Form</h2>
<form>
  <label>Name</label>
  <input type="text" [(ngModel)]="currentUser.name" name="name" #name>

  <label>Username</label>
  <input type="text" [(ngModel)]="currentUser.username" name="username" #username>

  <label>Email</label>
  <input type="email" [(ngModel)]="currentUser.email" name="email" #email>

  <p>Address</p>
  <label>Street</label>
  <input type="text" [(ngModel)]="currentUser.address.street" name="address.street" #street>

  <label>Suite</label>
  <input type="text" [(ngModel)]="currentUser.address.suite" name="address.suite" #suite>

  <label>City</label>
  <input type="text" [(ngModel)]="currentUser.address.city" name="address.city" #city>

  <label>Zipcode</label>
  <input type="text" [(ngModel)]="currentUser.address.zipcode" name="address.zipcode" #zipcode>

  <label>Phone</label>
  <input type="text" [(ngModel)]="currentUser.phone" name="phone" #phone>

  <label>Website</label>
  <input type="text" [(ngModel)]="currentUser.website" name="website" #website>

  <p>Company</p>
  <label>Company Name</label>
  <input type="text" [(ngModel)]="currentUser.company.name" name="company.name" #companyname>

  <label>Catch Phrase</label>
  <input type="text" [(ngModel)]="currentUser.company.catchPhrase" name="company.catchPhrase" #companyCatchPhrase>


  <button (click)="addUser(name.value,
  username.value,
  email.value,
  street.value,
  suite.value,
  city.value,
  zipcode.value,
   phone.value,
   website.value,
   companyname.value,
   companyCatchPhrase)">Submit User</button>
</form>
